/* src/styles/tiptap.css */
/* Estilos adicionais para o TipTap, se necessário */
.ProseMirror:focus {
  outline: none;
}

.ProseMirror h1 {
  font-size: 2em;
  font-weight: bold;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

.ProseMirror h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

.ProseMirror ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

.ProseMirror ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}